.Home {
    border: solid rgb(249, 248, 251);

    background-color: rgb(234, 233, 236);

    padding: 20px;

    text-align: center;
    border-radius: 20px;
    
  
}


.title{

    position: relative;
    height: auto;
    color: rgb(17, 13, 15);
}

